# A service unit for the PretendCo Simple Linux System Monitor
# Use with timer file (default = every 5 minutes)

[Unit]
Description=Run simple system monitor script
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/pretendco/bin/sysmon.sh

[Install]
WantedBy=default.target

